*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
}

/********* Navigasi Bar *********/
.container .sidebar {
    width: 300px;
    background-color: #39B5E0;
    border-radius: 10px;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

.logo{
    text-align: center;
    margin-top: 200px;
  }

.logo img{
    width: 200px;
  }

.logo h2{
    font-size: 37px;
    font-family:'Franklin Gothic Medium';
    margin-top: 10px;
    color: white;
}

/********* main content **********/
.content{
    float: left;
    margin-left: 300px;
    padding: 10px;
    width: 1000px;
}

main .summary{
    background-color: #BBE1FA;
    padding: 10px;
    border-radius: 10px;
}

.content h2{
    text-align: center;
    font-family: monospace;
    font-size: 39px;
    letter-spacing: 5px;
    width: 450px;
}

.content p{
    text-align: justify;
    font-family: 'Times New Roman';
    line-height: 20px;
}

input[type=number]{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

label{
    font-family: serif;
    font-weight: bold;
}

main button{
    padding: 8px;
    border-radius: 5px;
    border-style: none;
    
}

.calculate{
    background-color: #2F58CD;
    color: white;
    width: 100px;
    margin-right: 10px;
}

.calculate:hover{
    background-color: #0b329e;
}

.calculate:active{
    background-color: #0042f8;
}

#reset{
    width: 80px;
    background-color: #DDE6ED;
}

#reset:hover{
    background-color: #c1ccd2;
}

#reset:active{
    background-color: #8f999e;
}

.row{
    display: flex;
    width: 100%;
}

.text{
    flex: 50%;
    padding: 10px;
}

#text2{
    margin-left: 60px;
    text-align: justify;
    font-family: 'Times New Roman';
    line-height: 20px;
    margin-right: -100px;
   
}

/****** hasil kalkulasi *******/
.result-section{
    background-color: #BBE1FA;
    padding: 10px;
    border-radius: 10px;
    width: 48%;
    margin-top: 10px;
    margin-left: 10px;
}

.result-section h3{
    text-align: center;
}

.result-section #result{
    text-align: center;
}