body{
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    overflow: hidden;
    background-color: #f1f1f1;
   
  }


  
  /*----------- navigasi sebelah kiri -----------*/
.nav-bar-kiri a {
    float: left;
    font-family: monospace;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 24px; 
    line-height: 25px;
    border-radius: 4px;
    margin-left: 0;
    color: black;
  }
  
  /* ----------- Gambar --------------- */
img{
    width: 140px;
    height: 100px;
    margin-top: -10px;
    margin-left: 20%;
    float: left;
}


  /*-------- navigasi sebelah kanan ---------*/
.nav-bar-kanan a{
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin-right: 20px;
    margin-top: 25px;
    color: black;
    background-color: #f1f1f1; 
}

.nav-bar-kanan a:hover{
    background-color: #ddd ;
    color: black;
}

.nav-bar-kanan a.active{
    background-color:#6499E9 ;
    color: white;
}



/* ----------- Pilihan Gender ----------- */
h2{
    text-align: center;
    font-family: monospace;
    margin-top: 50px;
    margin-bottom: -45px;
}

.pilihan a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 10px;
    margin-right: 9px;
    color: black;
    background-color: #D2E3C8; 
}

.pilihan a:hover{
    background-color: #ddd;
    color: black;
}

.pilihan a.wanita{
    background-color: #FF8080;
    color: white;
}

.gender{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    gap: 10px;
    border: none;
}



/* ----------- border content ----------- */

main{
    border: none;
    background-color: #F1F0E8;
    margin-left: 80%;
    border-radius: 10px;
}



/* ------------ Resolusi Browser ------------ */
@media only screen and (max-width: 1600px) {
    main{
        border: none;
        background-color: #F1F0E8;
        margin-left: 100px;
        margin-right: 100px;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 620px){
    .nav-bar-kanan{
        display: grid;
        grid-column: right;
    }
}



/* ------------------ section --------------*/
.input-section{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: -20px;
}

.kalkulasi{
    background-color: #D2E3C8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    border: none;
    margin-top: 10px;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.kalkulasi:hover{
    background-color: #ddd;
}

.kalkulasi:active{
    background-color: #9BABB8;
}

/* ------------- Hasil -------------- */
#result{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 50px;
}

.hasil-section{
    border: none;
    background-color: #F1F0E8;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
}

